**/node_modules
**/__pycache__
**/_version.py
**/.ipynb_checkpoints
**/*.egg-info
**/.DS_Store
**/.book/
**/.third-party/
/en/.assets/
/ja/.assets/
/.assets/theme/*.js
/.mypy_cache
/.vscode
/.venv
/.obsidian/workspace.json
/.env
/build
/dist
/sandbox
!/.githooks/
!/.gitignore
